<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ink.qtum.org.inkqtum">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="ink.qtum.org.QtumApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="ink.qtum.org.views.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ink.qtum.org.views.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ink.qtum.org.views.activities.RestoreWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ink.qtum.org.views.activities.CreateWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ink.qtum.org.views.activities.BackupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ink.qtum.org.views.activities.TxHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ink.qtum.org.views.activities.TxDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ink.qtum.org.views.activities.ReceiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ink.qtum.org.views.activities.SendTxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ink.qtum.org.views.activities.SendConfirmActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>